<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServerIP" connectionString="192.168.10.14"/>
    <add name="ServerPort" connectionString="1234"/>
    <add name="fileContent" connectionString="D:/备份文件"/>
    <add name="tempFileContent" connectionString="../../Temporary Folder"/>
    <add name="logContent" connectionString="../../Document/LOG.txt"/>
    <add name="fileRecordContent" connectionString="../../Document/FileRecorder.txt"/>
  </connectionStrings>
</configuration>