<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--RCCP服务器启动位置-->
    <add key="SuperSocketPath" value="C:\Users\Administrator\Desktop\RCCP\RCCP\bin\Debug"/>
    <!--RCCP启动程序名称-->
    <add key="FileName" value="RCCP"/>
    <!--基础模块服务监听IP-->
    <add key="ListenIP" value="127.0.0.1"/>
    <!--基础模块服务监听端口-->
    <add key="ListenPort" value="6000"/>
    <!--服务器管理器IP-->
    <add key="ManagementServerIP" value="192.168.10.51"/>
    <!--服务器管理器端口-->
    <add key="ManagementServerPort" value="10001"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
