<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务器IP-->
    <add key="ServerIP" value="192.168.10.14"/>
    <!--运维服务-->
    <add key="OMServer" value="10002"/>
    <!--业务协同服务-->
    <add key="BCServer" value="10004"/>
    <!--数据中心服务-->
    <add key="DCServer" value="10005"/>
    <!--基础模块管理服务-->
    <add key="BMMSServer" value="10009"/>
  </appSettings>
</configuration>