<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connStr_local" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\xwxayj_Local.mdb"/>
    <add name="connStr" connectionString="Data Source=192.168.10.195; Initial Catalog=xwxayj;User ID=sa;Password=123"/>
  </connectionStrings>
  <appSettings>
    <!--服务器IP-->
    <add key="ServerIP" value="192.168.10.51"/>
    <!--采集服务-->
    <add key="OMServer" value="10002"/>
    <!--日志服务-->
    <add key="LogServer" value="10003"/>
    <!--业务协同服务-->
    <add key="BCServer" value="10004"/>
    <!--数据中心服务-->
    <add key="DCServer" value="10005"/>
    <!--文电服务-->
    <add key="MailServer" value="10006"/>
    <!--基础模块管理服务-->
    <add key="BMMSServer" value="10007"/>
    <!--是否使用流媒体服务器（1：使用，0：不使用）-->
    <add key="MediaStream" value="0"/>
    <add key="MediaStream_IP" value="192.0.0.151"/>
    <add key="MediaStream_Port" value="8000"/>
    <add key="MediaStream_User" value="system"/>
    <add key="MediaStream_Password" value="system"/>
  </appSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
