<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=192.168.10.195; Initial Catalog=xwxayj;User ID=sa;Password=123"/>
  </connectionStrings>
  <appSettings>
    <!--外部数据中心监听IP-->
    <add key="ListenIP" value="192.168.10.51"/>
    <!--外部数据中心监听端口1-->
    <add key="ListenPort1" value="7000"/>
    <add key="ListenPort2" value="7001"/>
    
    <!--服务器-业务协同服务-->
    <add key="BCServer_IP" value="192.168.10.51"/>
    <add key="BCServer_Port" value="10004"/>
    <!--服务器-数据中心服务-->
    <add key="DCServer_IP" value="192.168.10.51"/>
    <add key="DCServer_Port" value="10005"/>
    
    <!--给上级中心发送数据-->
    <add key="BCSimulateSoftware_IP" value="192.168.10.51"/>
    <add key="BCSimulateSoftware_Port" value="9000"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
